.contents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 24px;
    column-gap: 12px;
    top: 113px;
    margin-block: 16px 136.5px;
    /* margin-left: 16px; */
    padding-inline: 16px;
    overflow-y: scroll;
    z-index: 5;
    position: relative;
    left: 72px;
    width: calc(100% - 102px);
    transition: .25s;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
}

.content {
    width: 1fr;
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /*overflow: hidden;
    */
    transition-duration: .5s;
}
.content:active {
    background-color: var(--content-active);
    transition-duration: 0s;
}

/* === content thumbnail === */
.thumbnail {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.thumbnail img{
    width: 100%;
    height: 100%;
}

.video-duration {
    position: absolute;
    bottom: 8px;
    right: 4px;
    background-color: var(--video-duration);
    opacity: 90%;
    /* margin: 0px 8px 10px 0px; */
    padding-inline: 4px;
    border-radius: 2.5px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    -ms-border-radius: 2.5px;
    -o-border-radius: 2.5px;
}

.duration-time {
    font: var(--body-16regular);
    font-size: 12px;
    color: var(--white);
}

.slider {
    background-color: var(--slider);
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
}

.slider-progress {
    background-color: var(--slider-progress);
    width: 100%;
    height: 100%;
}
.slider-progress.disabled{
    background-color: transparent;
    width: 100%;
    height: 100%;
}
/* === content thumbnail === */


/* === content details === */
.details {
    margin-block: 12px 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 86px;
}

.avatar {
    display: flex;
    flex-direction: column;
    height: 36px;
    width: 36px;
    padding: 0 12px 0 0px;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.avatar img {
    background-color: var(--avatarContainer);
    height: 36px;
    width: 36px;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.video-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* height: 100%; */
    /* max-height: 92.5px; */
    /* background-color: red; */
}

.video-title {
    width: 100%;
    font: var(--body-16regular);
    font-size: 14px;
    color: var(--text-color);
    overflow: hidden;

    
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.video-details-bottom {
    display: flex;
    flex-direction: column;
}

.video-author {
    font: var(--body-16regular);
    font-size: 12px;
    color: var(--video-author-view-time);

    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.video-author:hover {
    color: var(--video-author-hover);
}

.videos-details-bottom-container {
    display: flex;
    flex-direction: row;
}

.video-view {
    width: auto;
    font: var(--body-16regular);
    font-size: 12px;
    color: var(--video-author-view-time);
}

.video-view::after {
    content: "·";
    margin-inline: 4px;
}

.video-time {
    width: 50%;
    font: var(--body-16regular);
    font-size: 12px;
    color: var(--video-author-view-time);
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.more-button {
    opacity: 0;
    margin: 0px 0 0 0px;
    width: 28px;
    height: 28px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
}

.more-button svg {
    padding: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.content:hover .more-button {
    opacity: 1;
}

.more-button:hover {
    background-color: var(--more-button-hover);
    transition: .25s;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
}

.more-button svg path {
    fill: var(--more-button);
}







@media only screen and (max-width: 1150px) {
    .contents {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    .contents {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 625px) {
    .contents {
        grid-template-columns: repeat(1, 1fr);
    }
    .content {
        padding-inline: 0px;
    }
    .details {
        height: 66px;
    }
    .video-title {
        -webkit-line-clamp: 1;
    }
}

@media only screen and (max-width: 550px) {
    .contents {
        left: 0px;
        width: 100%;
        padding: 0;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
    }
    .content {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;   
    }
    .thumbnail {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }
    .avatar {
        padding: 0 12px 0 12px;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
}
    .more-button {
        transform: translate(-6px, 0px);
        -webkit-transform: translate(-6px, 0px);
        -moz-transform: translate(-6px, 0px);
        -ms-transform: translate(-6px, 0px);
        -o-transform: translate(-6px, 0px);
    }

}