.contents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 36px;
    column-gap: 16px;
    top: 113px;
    margin-block: 16px 160px;
    /* margin-left: 16px; */
    padding-inline: 16px;
    /* background-color: red; */
    /* overflow-x: hidden; */
    overflow-y: scroll;
    z-index: 5;
    position: relative;
    left: 72px;
    width: calc(100% - 112px);
    transition: .25s;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
}

.content {
    width: 1fr;
    height: 1fr;
    /*background-color: var(--dark2);
    */cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /* overflow: hidden; */
}

/* === content thumbnail === */
.thumbnail {
    position: relative;
    max-width: 100%;
    /* max-height: 154px; */
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.thumbnail img{
    max-height: 100%;
    max-width: 100%;
}

.video-duration {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 6px;
    background-color: var(--dark1);
    opacity: 90%;
    /* margin: 0px 8px 10px 0px; */
    padding-inline: 4px;
    border-radius: 2.5px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    -ms-border-radius: 2.5px;
    -o-border-radius: 2.5px;
}

.duration-time {
    font: var(--body-16regular);
    font-size: 12px;
    color: var(--white);
}
/* === content thumbnail === */


/* === content details === */
.details {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 94px;
}

.avatar {
    display: flex;
    flex-direction: column;
    height: 36px;
    width: 36px;
    padding: 10px 12px 0 0;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.avatar img {
    height: 36px;
    width: 36px;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.video-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* max-height: 92.5px; */
    /* background-color: red; */
}

.video-title {
    width: 100%;
    font: var(--body-16regular);
    font-size: 14px;
    color: var(--white);
    margin: 10px 0px 4px 0px;
    
    overflow: hidden;

    
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.video-details-bottom {
    display: flex;
    flex-direction: column;
}

.video-author {
    font: var(--body-16regular);
    font-size: 12px;
    color: var(--dark4);
}

.video-author:hover {
    color: var(--white);
}

.videos-details-bottom-container {
    display: flex;
    flex-direction: row;
}

.video-view, .video-·, .video-time {
    font: var(--body-16regular);
    font-size: 12px;
    color: var(--dark4);
}

.video-· {
    margin-inline: 6px;
}

.more-button {
    margin: 12px 0 0 8px;
    width: 24px;
    height: 24px;
}

.more-button svg {
    display: none;
    padding: 6px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-6px, -3px);
    -webkit-transform: translate(-6px, -3px);
    -moz-transform: translate(-6px, -3px);
    -ms-transform: translate(-6px, -3px);
    -o-transform: translate(-6px, -3px);
    transition: background-color .5s ease;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -ms-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
}

.content:hover .more-button svg {
    display: flex;
}

.more-button:active svg {
    background-color: var(--dark3);
    transition: background-color 0s ease;
    -webkit-transition: background-color 0s ease;
    -moz-transition: background-color 0s ease;
    -ms-transition: background-color 0s ease;
    -o-transition: background-color 0s ease;
}

.more-button svg path {
    fill: var(--white);
}







@media only screen and (max-width: 1190px) {
    .contents {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 995px) {
    .contents {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 700px) {
    .contents {
        grid-template-columns: repeat(1, 1fr);
    }
    .details {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 74px;
    }
    .video-title {
        -webkit-line-clamp: 1;
    }
}

@media only screen and (max-width: 650px) {
    .contents {
        left: 0px;
        width: 100%;
        padding: 0;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
}
    
    .content {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;   
    }

}