@import url(header.css);
@import url(tablist.css);
@import url(contents.css);

main {
    position: relative;
    height: 100%;
    /* left: 216px; */
    /* left: 72px; */
    /* width: calc(100% - 72px); */
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#main::-webkit-scrollbar {
    inline-size: 24px;
    -webkit-appearance: none;
}

#main::-webkit-scrollbar-thumb {
    background-color: var(--main-scrollbar);
    border: 8px solid var(--main-scrollbar-border);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
#main::-webkit-scrollbar-thumb:active {
    background-color: var(--main-scrollbarActive);
}

.header-container {
    /* width: calc(100% - 72px); */
    position: fixed;
    top: 0px;
    z-index: 20;
    width: calc(100% - 24px);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

@media only screen and (max-width: 550px) {

    .header-container {
        width: 100%;
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
    }

    #main::-webkit-scrollbar {
        display: none;
}
    
    #main::-webkit-scrollbar-thumb{
       display: none;
}

    
}