@import url(header.css);
@import url(tablist.css);
@import url(contents.css);

main {
    position: relative;
    height: 100%;
    /* left: 216px; */
    /* left: 72px; */
    /* width: calc(100% - 72px); */
    width: 100%;
}

.header-container {
    /* width: calc(100% - 72px); */
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 20;
}