.tablist {
    background-color: var(--tablist-bg);
    height: 54px;
    border-bottom: 1.25px solid var(--borders);
    left: 72px;
    width: calc(100% - 72px);
    transition: .5s, background-color 0s, border 0s;
    -webkit-transition: .5s, background-color 0s, border 0s;
    -moz-transition: .5s, background-color 0s, border 0s;
    -ms-transition: .5s, background-color 0s, border 0s;
    -o-transition: .5s, background-color 0s, border 0s;
    z-index: 5;
}

.tablist-container {
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
    /* justify-content: center; */
    margin-left: 75px;
}

.tablist-button {
    display: flex;
    align-items: center;
    padding-inline: 20px;
    margin: 12px;
    margin-left: 0;
    cursor: pointer;
    border: 1px solid var(--borders);
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}
.tablist-button-text {
    display: flex;
    align-items: center;
    font: var(--body-16regular);
    font-size: 14px;
}

.tablist-button.disabled {
    background-color: var(--tablist-buttonDisabled);
}
.tablist-button.disabled:hover {
    background-color: var(--tablist-buttonDisabled-hover);
    transition: background-color .5s ease;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -ms-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
}
.tablist-button.disabled .tablist-button-text {
    color: var(--text-color);
}

.tablist-button.active {
    background-color: var(--tablist-buttonActive);
}
.tablist-button.active .tablist-button-text {
    color: var(--tablist-buttonActive-text);
}

.swiper-button-prev {
    background: var(--swiper-button-prev-bg);
}
.swiper-button-prev::after {
    margin-right: 45px;
    color: var(--swiper-button);
}

.swiper-button-next {
    background: var(--swiper-button-next-bg);
}
.swiper-button-next::after {
    margin-left: 45px;
    color: var(--swiper-button);
}

@media only screen and (max-width: 550px) {
    .tablist {
        left: 0px;
        width: 100%;
        transition: all 0s;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -ms-transition: all 0s;
        -o-transition: all 0s;
    }
}

@media only screen and (max-width: 500px) {
    .swiper-button-prev, .swiper-button-next {
        width: 0px;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
    }
    .tablist-container {
        margin-left: 10px;
    }
}